# Users Environment Variables
# .lock-wscript

# Logs
logs
*.log

# Local Vagrant state files
.vagrant

# Ignore docs directory as it is generated at will by running jsdoc task
docs

# Dependency directory
node_modules
