# Logs
logs
*.log

# Local Vagrant state files
.vagrant

# Ignore docs directory as it is generated at will by running jsdoc task
docs

# Dependency directory
node_modules

# npm package lock file which is unnecessary in this context.
package-lock.json
