# Some files, such as the node_modules directory, are always ignored.
# https://docs.npmjs.com/files/package.json#files

# Logs
logs
*.log

# Local Vagrant state files
.vagrant

# Config files
.eslintrc.json
.git*
.jscsrc
.npmignore
.travis.yml

# Dev directories
# Ignore docs directory as it is generated at will by running jsdoc task
docs
test

# Misc
**/*.tgz
configs
Makefile
Vagrantfile
